a{
	text-decoration: none;
	color:black;
}
.container{
	text-align:center;
	margin: 0 auto;
	background: rgba(112, 236, 236, 0.959);
	max-width: 600px;
}

.tabela{
    border-style: solid;
    padding: 5px;
    margin:0 auto;
    width:100%;
    font-size: 16pt;
    background: white;
    
}
form{
	margin: 0 auto;
	border: 1px solid;
	width: 100%;
}
form input{
	margin: 1px;
	width: 95%;
	font-size: 15pt;
}
form label{
	margin: 5px;
	font-size: 20pt;
}
.msg{
	margin:5px;
	padding:5px;
	width: 99%;
	font-size: 18pt;
}
